body {
background-color:#E5E5E5;
    
}

.logo {
position: absolute;
Width: 31,09px;
Height: 48px;
Left: 44px;
margin-top: 40px;
margin-left: 40px;

}

.titulo {
position: absolute;
width: 900px;
height: 300px;
left: 240px;
top: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
color: #0A3871;

}


.ingreseTexto {
position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;
border: 0;
text-align: top;
font-weight: 400;
font-size: 32px;
line-height: 150%;
color: #0A3871;
background-color:#E5E5E5;
resize: none;

}

.rectangulo {
position: absolute;
width: 400px;
height: 944px;
top: 0px;
left: 1000px;
margin-top: 40px; 
margin-right: 40px; 
margin-bottom: 40px;
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
text-align: center;

}

.mensaje { 
position: absolute;
top:168px;
left: 50px;
width: 280px;
height: 350px;
resize: none;
background-image: url("img/Muñeco.png");
border: 0;
text-align: top;
font-weight: 400;
font-size: 32px;
line-height: 150%;

}

.copiar { 
    position: absolute;
    top:700px;
    left:40px;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    }

.advertencia {
position: absolute;
display: inline-block;
top: 851px;
left: 240px;
width: 300px;
height: 18px;

}

.signo {
position: absolute;
display: inline-block;
width: 16px;
height: 16px;   
    
}
    
.mensajeAdvertencia {
position: absolute;
display: inline-block;
right: 80px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #495057;
opacity: 0.8;
flex: none;
order: 1;
flex-grow: 0;

}

.botones {
position: absolute;
display: inline-block;
top: 885px;
left: 240px;

}

.encriptar {
padding: 24px;
gap: 8px;
margin-right: 25px;
box-sizing: border-box;
width: 328px;
height: 67px;
background: #0A3871;
border-radius: 24px;
flex: none;
order: 0;
flex-grow: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;
            
}

.desencriptar{
padding: 24px;
gap: 8px;
width: 328px;
height: 67px;
background: #D8DFE8;
border: 1px solid #0A3871;
border-radius: 24px;
flex: none;
order: 1;
flex-grow: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;
color: #0A3871;
flex: none;
order: 0;
flex-grow: 1;

}

.rodapie{
position: absolute;
display: block;
top: 850px;
left: 1050px;
width: 300px;
height: 100px;
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-style:Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
font-size: 25px;
line-height: 120%;
color: white;
border: 1px solid #87cefa;
border-radius: 24px;
background-color:#87cefa;

}
    
.rodapie1{

margin-top: 10px;
margin-bottom: 10px;

}

  

